.button {
  display: inline-block;
  border: 0;
  opacity: 0.6;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
  padding: 0.2em 0.8em;
  margin: 0 0.3em;
  text-decoration: none;
  border-radius: 6px;
  color: #48005f;
  background-color: #dfd6df;
  font-size: 1.3rem;
  /* box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); */

  /*, inset 0px -2px 4px -1px #ad8fb93e,
    inset 0px -4px 5px 0px #ad8fb926, inset 0px -1px 10px 0px #ad8fb918 */
}
.button:hover:not(.themeDark) {
  opacity: 1;
  color: #fff;
  background-color: #b795d0;
  transform: scale(1.1);
}

.themeDark {
  color: #c9c9c9;
  background-color: #ffffff2b;
}
.themeDark.button:hover {
  opacity: 1;
  color: #b5b5b5;
  transform: scale(1.1);
}
.themeDark.button::selection {
  color: #39303d;
  background-color: #8d7897;
}
